<!-- Javascript -->
<script src="assets/jquery/jquery.min.js"></script>

<!-- Custom Scroll Bar -->
<script src="assets/nicescroll/jquery.nicescroll.min.js"></script>

<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/charts/table-to-chart.js"></script>
<script src="assets/fullcalendar/fullcalendar.min.js"></script>
<script src="assets/fullcalendar/gcal.js"></script>
<script src="assets/sidebar/min-height.js"></script>

<!-- DataTables -->
<script src="assets/datatables/jquery.dataTables.min.js"></script>
<script src="assets/datatables/jquery.dataTables.min.js"></script>

<!-- jQuery UI -->
<script src="assets/jquery-ui/jquery-ui-1.10.3.custom.min.js"></script>

<!-- Morris Charts -->
<script src="assets/morrischarts/raphael.js"></script>
<script src="assets/morrischarts/morris.js"></script>

<!-- iCheck -->
<script src="assets/icheck/icheck.js"></script>

<!-- CountTo -->
<script src="assets/jquery-countto/jquery.count-to.js"></script>

<!-- FlotCharts  -->
<script src="assets/flotcharts/flotcharts-common.js"></script>
<script src="assets/flotcharts/jquery.flot.min.js"></script>
<script src="assets/flotcharts/jquery.flot.resize.min.js"></script>
<script src="assets/flotcharts/jquery.flot.canvas.min.js"></script>
<script src="assets/flotcharts/jquery.flot.image.min.js"></script>
<script src="assets/flotcharts/jquery.flot.categories.min.js"></script>
<script src="assets/flotcharts/jquery.flot.crosshair.min.js"></script>
<script src="assets/flotcharts/jquery.flot.errorbars.min.js"></script>
<script src="assets/flotcharts/jquery.flot.fillbetween.min.js"></script>
<script src="assets/flotcharts/jquery.flot.navigate.min.js"></script>
<script src="assets/flotcharts/jquery.flot.pie.min.js"></script>
<script src="assets/flotcharts/jquery.flot.selection.min.js"></script>
<script src="assets/flotcharts/jquery.flot.stack.min.js"></script>
<script src="assets/flotcharts/jquery.flot.symbol.min.js"></script>
<script src="assets/flotcharts/jquery.flot.threshold.min.js"></script>
<script src="assets/flotcharts/jquery.colorhelpers.min.js"></script>
<script src="assets/flotcharts/jquery.flot.time.min.js"></script>

<!-- Demo -->
<script src="_demo/icheck/icheck.js"></script>
<script src="_demo/charts/dashboard.js"></script>
<script src="_demo/all-pages.js"></script>
<script src="_demo/google-maps.js"></script>
<script type="text/javascript" src="_demo/page-index.js"></script>

<!-- Intro -->
<script type="text/javascript" src="_demo/introjs/init.js"></script>
