/***** 980px Width *****/
@media (max-width: 980px) {

  .sidebar {
    width: 100%;
    position: relative !important;
    min-height: 0px !important;
  }

  .sidebar .responsive-menu {
    position: absolute;
    top: 8px;
    right: 50px;
    display: block;
  }

  .sidebar .logo-container {
    display: block;
  }

  .sidebar .sidebar-profile {
    display: none;
  }

  .sidebar ul.menu {
    display: none;
  }

  .content-liquid-full {
    width: 100%;
    margin-left: 0px !important;
  }

  ul.left-icons {
    float:none !important;
  }

  ul.right-icons .notify {

  }

}

/***** 360px Width *****/
@media (max-width: 360px) {

  .right-icons {
    text-align: center !important;
  }

  span.in-progress, span.shipped,
  span.delayed, span.on-hold {
    width: 15px;
    height: 15px;
    padding: 0px;
    border-radius:50% !important;
    font-size: 0px;
    vertical-align: middle;
  }

}

@media (max-width: 1250px) {

  ul.left-icons {
    float:right !important;
  }

  ul.right-icons {
    width: 100%;
    float: none !important;
    text-align: right;
  }

}

@media (max-width: 1280px) {

  .profile .footer h4 {
    text-align: center;
  }

  .profile-socials {
    text-align: center !important;
  }

}


@media (min-width: 1250px) and (max-width: 1280px) {

  .sidebar ul.menu {
    display: block;
  }

}