
<!-- Custom Scroll Bar -->
<script src="{{ STATIC_URL }}assets/nicescroll/jquery.nicescroll.min.js"></script>

<script src="{{ STATIC_URL }}assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}assets/charts/table-to-chart.js"></script>
<script src="{{ STATIC_URL }}assets/fullcalendar/fullcalendar.min.js"></script>
<script src="{{ STATIC_URL }}assets/fullcalendar/gcal.js"></script>
<script src="{{ STATIC_URL }}assets/sidebar/min-height.js"></script>

<!-- DataTables -->
<script src="{{ STATIC_URL }}assets/datatables/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}assets/datatables/jquery.dataTables.min.js"></script>

<!-- jQuery UI -->
<script src="{{ STATIC_URL }}assets/jquery-ui/jquery-ui-1.10.3.custom.min.js"></script>

<!-- Morris Charts -->
<script src="{{ STATIC_URL }}assets/morrischarts/raphael.js"></script>
<script src="{{ STATIC_URL }}assets/morrischarts/morris.js"></script>

<!-- iCheck -->
<script src="{{ STATIC_URL }}assets/icheck/icheck.js"></script>

<!-- CountTo -->
<script src="{{ STATIC_URL }}assets/jquery-countto/jquery.count-to.js"></script>


<!-- Demo -->
<script src="{{ STATIC_URL }}_demo/icheck/icheck.js"></script>
<script src="{{ STATIC_URL }}_demo/charts/dashboard.js"></script>
<script src="{{ STATIC_URL }}_demo/all-pages.js"></script>
<script src="{{ STATIC_URL }}_demo/google-maps.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}_demo/page-index.js"></script>

<!-- Intro -->
<script type="text/javascript" src="{{ STATIC_URL }}_demo/introjs/init.js"></script>


